/* ==========================================================
=============================================================
=============================================================
= components
= input
=============================================================
=============================================================
=============================================================*/

/*---------------------
--- 인풋 박스 디자인
--------------------- */
input,
select {
    padding: 8px 16px;
    font-size: 15px;
    border: 1px solid $c-d9;
    border-radius: 4px;
    background-color: $c-white;
    transition: border $duration;
    @include ellipsis;

    &::placeholder {
        color: $c-bf;
    }

    &.disabled,
    &:disabled {
        color: $c-disabled;
        border: 1px solid $c-d9 !important;
        background-color: $c-f5;
        cursor: default;
    }

    &:focus,
    &:active {
        border: 1px solid $c-brand-04;
    }
}

input {
    &.readonly,
    &:read-only {
        border: 1px solid $c-d9 !important;
        background-color: $c-f5;
        cursor: default;
    }
}

select {
    padding-right: 30px;
    background-image: icon(userSelectboxArrow, '595959');

    &:disabled,
    &.disabled {
        background-image: icon(userSelectboxArrow, '8C8C8C');
    }

    &.readonly {
        color: $c-26;
        border: 1px solid $c-f0 !important;
        background-color: $c-f5;
        cursor: default;
        background-image: icon(userSelectboxArrow, '8C8C8C');
    }
}

textarea {
    font-size: 15px;
    @include ellipsis;
    line-height: 1.45;
    white-space: pre-wrap;
    overflow-y: auto;
    border: none;
    resize: none;

    &::placeholder {
        color: $c-bf;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
}
/*---------------------
--- text field 
--- input, label, help text
--------------------- */
.textfield {
    width: 100%;

    .label {
        position: relative;
        display: inline-block;
        margin-bottom: 4px;
        color: $c-43;
        font-size: 14px;
        font-weight: 600;
    }

    input {
        min-height: 40px;
        font-size: 16px;
        flex: 1;
    }

    .time-wrap {
        display: flex;
        justify-content: space-between;

        &.hide {
            display: none;
        }
    }

    .help-text {
        margin-top: 4px;
        color: $c-8c;
        line-height: 1.23;
    }

    &.error {
        .help-text {
            color: rgba($color: $c-error, $alpha: 1);
        }
    }

    &.success {
        .help-text {
            color: rgba($color: $c-positive, $alpha: 1);
        }
    }

    input.error {
        border: 1px solid rgba($color: $c-error, $alpha: 0.55);
    }

    input.success {
        border: 1px solid rgba($color: $c-positive, $alpha: 0.55);
    }

    input.success-icon {
        padding-right: 32px;
        color: $c-26;
        background-size: 24px;
        background-repeat: no-repeat;
        background-image: icon(checkIcon, '29CC6A');
        background-position: right 8px center;
        background-color: $c-white;
        border-color: $c-d9 !important;
    }

    input.disedit {
        color: $c-26 !important;
        background-color: $c-f5;
        cursor: default;
    }

    &.disedit {
        color: $c-26 !important;
        background-color: $c-f5;
        cursor: default;

        input.disedit {
            color: $c-26 !important;
            background-color: $c-f5;
            cursor: default;
        }
    }
}

/*---------------------
--- 인풋 라벨
--------------------- */
.label {
    position: relative;
    display: inline-block;
    color: $c-43;
    font-size: 14px;
    font-weight: 500;

    &.disabled {
        color: $c-bf;
    }

    &.required {
        padding-right: 12px;

        &::after {
            @include pseudo('*', 10px, 10px);
            position: absolute;
            top: -2px;
            right: 0;
            color: $c-warning-feature;
        }
    }
}

/*---------------------
--- 인풋 아이콘
--------------------- */
.input-icon {
    $iconPadding: 40px;
    $iconPos: 12px;

    &.front {
        padding-left: $iconPadding;
        background-repeat: no-repeat;
        background-position: center left $iconPos;
    }

    &.back {
        padding-right: $iconPadding;
        background-repeat: no-repeat;
        background-position: center right $iconPos;
    }
}

/*---------------------
--- 인풋영역 도움말 (Help text)
--------------------- */
.help-text {
    display: block;
    margin-top: 2px;
    color: $c-8c;
    font-size: 13px;

    &.hide {
        display: none;
    }

    &.error {
        color: rgba($color: $c-error, $alpha: 1);

        &-icon {
            padding-left: 20px;
            background-size: 16px;
            background-repeat: no-repeat;
            background-image: icon(errorIcon, 'F90000');
            background-position: left center;
        }
    }

    &.success {
        color: rgba($color: $c-positive, $alpha: 1);

        &-icon {
            padding-left: 20px;
            background-size: 20px;
            background-repeat: no-repeat;
            background-image: icon(checkIcon, '29CC6A');
            background-position: left center;
        }
    }

    &.time {
        margin-left: 16px;
        color: $c-secondary;
    }
}

/*---------------------
--- Search field
--------------------- */
input[type='text'].search-field {
    min-height: 48px;
    padding: 12px 16px 12px 44px;
    font-size: 16px;
    background-image: url('#{$path-image}/ico-search.svg');
    background-repeat: no-repeat;
    background-position: center left 16px;
    border-radius: 8px;

    &__round {
        border-radius: 100px;
    }
}

/*---------------------
--- 커스텀 필드
--- 업로드, 다운로드, 링크
--------------------- */
.field-custom {
    max-width: 216px;
    height: 36px;
    padding: 8px 10px;
    @include flexCenter(space-between);
    font-size: 15px;
    border: 1px solid $c-d9;
    border-radius: 4px;
    background-color: $c-white;
    transition: border $duration;

    &__text {
        flex: 1;
        margin: 0 6px;
        color: $c-in-progress;
        text-decoration: underline;
        @include ellipsis;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
            transition: $duration;
        }
    }

    &__icon {
        $size: 20px;

        width: $size;
        height: $size;
        margin: 0 6px;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;

        &.upload {
            background-image: url('#{$path-image}/ico-upload.svg');
        }

        &.download {
            background-image: icon(downloadIcon, '000000');
        }

        &.link {
            background-image: url('#{$path-image}/ico-link.svg');
        }
    }
}

/*---------------------
--- 비밀번호 폼
--------------------- */
.pw-form {
    position: relative;
    height: 40px;

    input {
        position: absolute;
        padding-right: 44px;
    }

    &__eye-btn {
        $size: 20px;

        width: $size;
        height: $size;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        font-size: 0;
        background-image: url('#{$path-image}/ico-eye.svg');

        &.invisible {
            background-position: bottom;
        }
    }
}

/*---------------------
--- 버튼 폼
--------------------- */

.btn-form {
    display: flex;
    align-items: center;
    border: 1px solid $c-d9;
    border-radius: 4px;
    background-color: $c-white;
    transition: border-color $duration;

    input {
        padding-right: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    &__btn {
        padding: 4px 16px;
        margin-right: 8px;
        color: $c-brand-05;

        &:hover {
            background-color: $c-f5;
        }

        &.disabled,
        &:disabled {
            color: $c-bf;
            background-color: $c-white !important;
            cursor: default;
        }
    }

    &.error {
        border: 1px solid $c-error;

        input {
            border: none;
        }
    }

    &.success-icon {
        input.success-icon {
            background-color: transparent;
            border: none !important;
        }
        .btn-form__btn {
            display: none;
        }
    }
}

/*---------------------
--- 모달 폼
--------------------- */
.modal-form {
    input {
        cursor: pointer;

        &:read-only,
        &.readonly {
            color: $c-26;
            background-color: $c-white;
        }

        &:hover {
            background-color: $c-fa;
            transition: $duration;
        }

        &:disabled,
        &.disabled {
            color: $c-disabled;
            background-color: $c-f5;
            cursor: default;
        }
    }

    button {
        width: 100%;
        padding: 8px 40px 8px 16px;
        font-size: 15px;
        text-align: left;
        border: 1px solid $c-d9;
        border-radius: 4px;
        background-color: $c-white;
        background-image: icon(sidebarArrow, '595959');
        background-repeat: no-repeat;
        background-position: center right 12px;
        transition: border $duration;

        &.before-select {
            color: $c-bf;
        }

        &:focus,
        &:active {
            border: 1px solid $c-brand-04;
        }

        &:hover {
            background-color: $c-fa;
            transition: $duration;
        }

        &:disabled,
        &.disabled {
            color: $c-disabled;
            background-color: $c-f5;
            background-image: icon(sidebarArrow, 'BFBFBF');
            cursor: default;

            &:focus,
            &:active {
                border-color: $c-d9;
            }
        }
    }
}

/*---------------------
--- 파일 첨부 폼
--------------------- */
.attach-form {
    $size: 20px;
    $gap: 8px;

    position: relative;
    width: 100%;
    height: 40px;
    @include flexCenter(flex-start);
    gap: $gap;
    padding: 8px 16px;
    font-size: 15px;
    border: 1px solid $c-d9;
    border-radius: 4px;
    background-color: $c-white;
    transition: border $duration;

    &:hover {
        background-color: $c-fa;
        transition: $duration;
    }

    &.disabled,
    &:disabled {
        color: $c-disabled;
        border: 1px solid $c-d9 !important;
        background-color: $c-f5;
        cursor: default;

        &::before {
            background-image: icon(attachIcon, 'BFBFBF');
        }

        .attach-form__btn {
            background-image: icon(plusIcon, 'BFBFBF');
        }
    }

    &:focus,
    &:active {
        border: 1px solid $c-brand-04;
    }

    &::before {
        @include pseudo('', $size, $size);
        background-image: icon(attachIcon, '8C8C8C');
        background-position: center;
        background-repeat: no-repeat;
    }

    &__filename {
        flex: 1;
        text-align: left;
        color: $c-8c;
    }

    &__btn {
        width: $size;
        height: $size;
        font-size: 0;
        background-image: icon(plusIcon, '595959');
        background-position: center;
        background-repeat: no-repeat;
    }

    &.selected {
        .attach-form {
            &__filename {
                color: $c-26;
                text-decoration: underline;
            }

            &__btn {
                background-image: url('#{$path-image}/ico-delete.svg');
            }
        }
    }
}

/*---------------------
--- URL 폼
--------------------- */
.url-form {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: $c-fa;
    border: 1px solid $c-d9;
    border-radius: 4px;

    .url {
        margin-right: 8px;
        color: $c-59;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.2px;
    }
}

/*---------------------
--- 텍스트 폼 
--------------------- */
.text-form {
    position: relative;
    padding: 16px 8px 22px;
    border: 1px solid $c-d9;
    border-radius: 4px;
    background-color: $c-white;
    transition: border $duration;

    &.disabled {
        color: $c-disabled;
        border: 1px solid $c-d9 !important;
        background-color: $c-f5;
        cursor: default;
    }

    &:focus-within {
        border: 1px solid $c-brand-04;
    }

    .textarea {
        height: 100%;
        min-height: 140px;
        padding-right: 8px;
    }

    .num {
        position: absolute;
        right: 12px;
        bottom: 0;
        text-align: right;
        font-size: 14px;

        * {
            color: $c-8c;
            font-size: 13px;
        }
    }
}

/*-------------------------------
--- checkbox 포함한 라벨 (회원가입)
-------------------------------- */
.check-label {
    @include flexCenter(space-between);
    margin-bottom: 4px;

    .label {
        margin-bottom: 0;
    }
}

/*---------------------
--- input type=number 화살표 삭제
--------------------- */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*-------------------------------
--- datepicekr input
-------------------------------- */
.input-datepicker {
    position: relative;
    width: fit-content;
    background-color: $c-white;

    input {
        padding: 8px 40px;
        background-color: transparent;
    }

    &::before,
    &::after {
        $size: 20px;

        @include pseudo('', $size, $size);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
    }

    &::before {
        left: 14px;
        background-image: url('#{$path-image}/ico-calender.svg');
    }

    &::after {
        right: 14px;
        background-image: icon(sidebarArrow, '595959');
    }

    &.readonly,
    &.disabled {
        &::after {
            background-image: icon(sidebarArrow, 'BFBFBF');
        }
    }
}
